:host {
    display: block;
}

button {
    background-color: var(--c-primary-90);
    border: none;
    border-radius: 4px;
    color: var(--c-white-10);
    outline: none;
    padding: 16px;
    width: 100%;
}

button[disabled] {
    opacity: 0.6;
}