<table>
    <tbody>
        <tr *ngFor="let segment of this.segments">
            <app-arc-row
                (changeSegmentType)="changeSegmentType(segment, $event)"
                *ngIf="this.segment.type === 'Arc'"
                [segment]="segment"
            ></app-arc-row>
            <app-line-row
                (changeSegmentType)="changeSegmentType(segment, $event)"
                *ngIf="this.segment.type === 'Line'"
                [segment]="segment"
            ></app-line-row>
        </tr>
    </tbody>
</table>

<button (click)="this.createSegment('Arc')" >Nova linha</button>
{{ this.segments | json }}