<div class="icon-logo"></div>
<div class="links">
    <app-side-menu-link
        [iconClass]="'icon-monitoring'"
        [label]="'Monitoramento'"
        [navigateOnClick]="'/monitoring'"
    ></app-side-menu-link>
    <app-side-menu-link
        [iconClass]="'icon-draw-circuit'"
        [label]="'Desenhar circuito'"
        [navigateOnClick]="'/drawing'"
    ></app-side-menu-link>
    <app-side-menu-link
        [iconClass]="'icon-configuration'"
        [label]="'Configuração'"
        [navigateOnClick]="'/configuration'"
    ></app-side-menu-link>
</div>
<app-user-data></app-user-data>