<ng-container *ngIf="segment">
    <td>
        <app-segment-select
            (changeEvent)="onChangeSegmentType($event)"
            [value]="'Line'"
        ></app-segment-select>
    </td>
    <td>
        <app-segment-field
            (inputEvent)="this.onInput($event, 'length')"
            [value]="this.segment.length"
        ></app-segment-field>
    </td>
    <td>
        <app-segment-field
            (inputEvent)="this.onInput($event, 'heigth')"
            [value]="this.segment.heigth"
        ></app-segment-field>
    </td>    
</ng-container>