:host {
    overflow: hidden auto;
}

.tables {
    display: flex;
    flex-direction: row;
}

tr {
    border-bottom: 1px solid var(--c-dark-20);
}

td {
    padding: 16px;
    vertical-align: middle;
}