<div class="label">
    <div
        class="label__border label__border--left"
        (click)="this.focusOnInput()"
        [ngClass]="{ 'label_border--active': this.onFocus }"
    ></div>
    <span class="label__value text-preset-300">{{this.label}}</span>
    <div
        class="label__border label__border--right"
        (click)="this.focusOnInput()"
        [ngClass]="{ 'label_border--active': this.onFocus }"
    ></div>
</div>
<div
    class="field-wrapper"
    (click)="this.focusOnInput()"
    [ngClass]="{ 'field-wrapper--active': this.onFocus }"
>
    <input
        #input
        class="field-wrapper__input text-preset-400"
        (blur)="this.onInputBlur()"
        (focus)="this.onInputFocus()"
        (input)="this.onBaseChangeFn($event)"
        [(ngModel)]="value"
        [readonly]="this.readOnly"
        [type]="this.type"
    >
    <div
        (click)="this.togglePasswordView()"
        [ngClass]="{ 'icon-hide-password': this.type !== 'password', 'icon-show-password': this.type === 'password' }"
        *ngIf="this.isPassword"
    ></div>
</div>
<span class="error-message text-preset-350" *ngIf="this.showError">{{this.error}}</span>