/* You can add global styles to this file, and also import other style files */

@import url('./reset.css');

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./assets/fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('./assets/fonts/Roboto-Medium.ttf')
}

:root {
    --c-bg-10: #FFFFFF;
    --c-bg-50: #F4F4F4;
    --c-field-border: rgba(0, 0, 0, 0.1);
    --c-field-error-message: #D50000;
    --c-field-label: rgba(0, 0, 0, 0.6);
    --c-field-value: rgba(0, 0, 0, 0.8);
    --c-p-90: #001E50;
}

html {
    font-family: 'Roboto';
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    align-items: center;
    background-color: var(--c-bg-50);
    display: flex;
    justify-content: center;
}

app-root {
    display: contents;
}

.typo-button-label {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
}

.typo-field-error-message {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400px;
    line-height: 150%;
}

.typo-field-label {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400px;
    line-height: 16px;
}

.typo-field-value {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.closed-eye-icon {
    background-image: url('./assets/svg/closed-eye-icon.svg');
    height: 24px;
    width: 24px;
}

.open-eye-icon {
    background-image: url('./assets/svg/open-eye-icon.svg');
    height: 24px;
    width: 24px;
}

.company-logo {
    background-image: url('./assets/svg/company-logo.svg');
    height: 48px;
    width: 48px;
}

.global-shadow {
    box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
}

.primary-button {
    background-color: var(--c-p-90);
    border: none;
    border-radius: 4px;
    color: white;
    outline: none;
    padding: 16px;
    width: 100%;
}

.primary-button[disabled] {
    opacity: 0.6;
}

.tertiary-button {
    background-color: transparent;
    border: none;
    color: var(--c-p-90);
    outline: none;
}