/* You can add global styles to this file, and also import other style files */

@import url("./reset.css");

/* @font-face {
    font-family: 'icomoon';
    src: url('./assets/fonts/icomoon.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
} */

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./assets/fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('./assets/fonts/Roboto-Medium.ttf')
}

:root {
    --c-dark-10: rgba(0, 0, 0, 0.1);
    --c-dark-20: rgba(0, 0, 0, 0.2);
    --c-dark-40: rgba(0, 0, 0, 0.4);
    --c-dark-60: rgba(0, 0, 0, 0.6);
    --c-dark-80: rgba(0, 0, 0, 0.8);
    --c-dark-100: rgba(0, 0, 0, 1);
    --c-red-90: #D50000;
    --c-primary-90: #001E50;
    --c-white-10: #FFFFFF;
    --c-white-50: #F4F4F4;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto';
    font-style: normal;
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--c-white-50);
}

app-root {
    display: contents;
}

.global-shadow {
    box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;

    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-configuration {
    content: "\e908";
}

.icon-delete-segment-row {
    cursor: pointer;
    opacity: 0.6;
    transition: 150ms;
}

.icon-delete-segment-row:before {
    content: "\e900";
}

.icon-delete-segment-row:hover {
    opacity: 1;
}

.icon-draw-circuit {
    content: "\e907";
}

.icon-hide-password:before {
    content: "\e901";
}

.icon-logo:before {
    content: "\e904";
}

.icon-logout:before {
    content: "\e905";
}

.icon-monitoring {
    content: "\e906";
}

.icon-plus:before {
    content: "\e902";
}

.icon-show-password:before {
    content: "\e903";
}

.text-preset-300 {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 125%;
}

.text-preset-350 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
}

.text-preset-390 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 100%;
}

.text-preset-400 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

.text-preset-450 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 100%;
}